@use '../base';

/*
 * Mixins
 */
// Crea una animación básica de transición para todos los navegadores
@mixin addBasicTransition {
  transition: $basic-transition;
  -moz-transition: $basic-transition;
  -webkit-transition: $basic-transition;
  -o-transition: $basic-transition;
}

/*
 * Modificaciones de colores para el body
 */
body {
  background-color: $white-bg;
  color: $primary-font;
}

h1, h2, h3, h4, h5 { color: $primary-font; }

/* Menú de navegación */
#menu {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  grid-column-start: 1;
  grid-column-end: 5;

  > a {
    display: block;
    width: 20%;
    text-align: center;
  }

  img {
    height: 3rem;
  }

  nav {
    width: 80%;
    text-align: right;

    ul {
      list-style: none;
      display: flex;

      a {
        display: block;
        margin-left: 2rem;
        box-sizing: border-box;
        color: $secondary-font;
        text-decoration: none;
        font-weight: bold;
        @include addBasicTransition();
      }

      a:hover {
        color: $primary-font;
      }
    }
  }
}

/* Sección de la banda. Presentación */
.the-band__elem {
  display: flex;
  align-items: flex-end;

  .picture {
    width: 50%;
    box-sizing: border-box;
    margin: 0 2rem 0 0;
    position: relative;

    h1{
      top: 50%;
      color: #968279;
      text-transform: uppercase;
      font-weight: bold;
      text-align: right;
      position: absolute;
      transform: translateY(-50%);
      right: 10px;
    }

    span {
      color: $primary-font;
    }

    img {
      width: 100%;
    }
  }

  .data {
    width: 50%;
    box-sizing: border-box;
    margin: 0 0 0 2rem;
    padding-bottom: 2rem;
  }
}

/* Último disco y reproductor */
.player {
  display: flex;
  align-items: center;

  .player__elem {
    width: 50%;
    margin: 0 2rem;

    .imagen {
      @include addBasicTransition();
      width: 60%;
      border: 20px solid #f0efed;
      margin: 0 auto;
      position: relative;
      box-shadow: 10px 10px 15px $brown-bg;
      background-image: url(../images/portada-no-puedo-estar-mejor.jpg);
      background-size: cover;
    }

    .el-jefe                      { background-image: url(../images/1-el-jefe.jpg); }
    .el-desafio                   { background-image: url(../images/2-el-desafio.jpg); }
    .despierta-ya                 { background-image: url(../images/3-despierta-ya.jpg); }
    .no-puedo-estar-mejor         { background-image: url(../images/4-no-puedo-estar-mejor.jpg); }
    .tu-cancion                   { background-image: url(../images/5-tu-cancion.jpg); }
    .esta-en-ti                   { background-image: url(../images/6-esta-en-ti.jpg); }
    .tienes-fuego                 { background-image: url(../images/7-tienes-fuego.jpg); }
    .rookies                      { background-image: url(../images/8-rookies.jpg); }
    .como-duele                   { background-image: url(../images/9-como-duele.jpg); }
    .camaleones                   { background-image: url(../images/10-camaleones.jpg); }
    .juguetes-rotos               { background-image: url(../images/11-juguetes-rotos.jpg); }
    .me-estoy-muriendo-por-dentro { background-image: url(../images/12-me-estoy-muriendo-por-dentro.jpg); }
    .las-de-ganar                 { background-image: url(../images/13-las-de-ganar.jpg); }
    .heridas-de-guerra            { background-image: url(../images/14-heridas-de-guerra.jpg); }
  }
}

.player-info {
  display: flex;
  margin-top: 3rem;
  padding-bottom: 3rem;

  .discografia {
    width: 50%;
    margin-right: 2rem;

    .discografia__elem {
      display: flex;
      align-items: center;

      h3 {
        width: 40%;
      }

      h3::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $light-brown-bg;
        display: block;
        float: right;
        top: 5px;
        position: relative;
      }

      svg {
        display: none;
      }

      .year, .listen, .spotify {
        width: 20%;
        box-sizing: border-box;
        margin: 0 1rem;
      }

      .year {
        text-align: center;
      }

      .listen button {
        border: 0;
        background-color: $light-brown-bg;
        padding: 0.5rem 1rem;
        color: $brown-bg;
        font-size: 1rem;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
      }

      .spotify a{
        border: 0;
        background-color: $brown-bg;
        padding: 0.5rem 1rem;
        color: $white-bg;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
      }
    }
  }

  .ultimo-disco {
    width: 50%;
    margin-left: 2rem;

    .ultimo-disco__elem {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      .play-bt {
        width: 5%;
        color: $primary-font;
      }

      .song {
        width: 80%;
        color: $brown-bg;
      }

      .duration {
        width: 15%;
        color: $brown-bg;
      }      
    }

    .ultimo-disco__elem:hover {
      background-color: $light-brown-bg;
      cursor: pointer;
    }
  }
}

/* Sección de eventos */
.section__elem.the-tour {
  padding-bottom: 3rem;

  .the-tour__elem {
    display: flex;
    margin: 2rem 0;
    align-items: center;

    .date {
      width: 150px;

      time {
        display: flex;
        align-items: center;

        .day {
          width: 50%;
          font-size: 3rem;
          font-weight: bold;
        }
  
        .month {
          font-weight: bold;
          display: block;
        }
  
        .year {
          font-weight: bold;
          display: block;
        }
      }
    }

    .event {
      width: 65%;
      margin: 0;
      border-bottom: 2px dotted;
      padding: 0.5rem 0;
      font-size: 1.2rem;
    }

    .where {
      width: 35%;
      margin: 0;
      border-bottom: 2px dotted;
      padding: 0.5rem 0;
      font-size: 1.2rem;
      background-color: $brown-bg;
      color: $secondary-font;
      text-align: center;
    }
  }
}

/* Pié de la página */
.footer__elem.contact {
  padding-bottom: 20rem;
  background-image: url(/src/assets/images/rockband.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 80%;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .contact__elem {
    text-align: center;
  
    p {
      font-size: 2.5rem;
      color: $secondary-font;
      text-align: center;
      margin: 0;
    }
  
    a {
      display: inline-block;
      font-size: 3.5rem;
      text-decoration: none;
      padding: 2rem 1rem;
      color: $primary-font;
    }
  }
}

@media screen and (max-width: 1460px) {
  header .header__elem,
  section .section__elem,
  footer .footer__elem {
    max-width: 960px;
  }

  header .header__elem .box--row2-col3 iframe {
    width: 100%;
  }

  .player-info .discografia .discografia__elem svg {
    display: block;
  }

  .discografia__elem button span,
  .discografia__elem a span {
    display: none;
  }

  .player-info .discografia .discografia__elem h3 {
    width: 60%;
  }

  .player-info .discografia .discografia__elem .year, 
  .player-info .discografia .discografia__elem .listen, 
  .player-info .discografia .discografia__elem .spotify {
    width: 15%;
    margin: 0;
  }
}

@media screen and (max-width: 1060px) {
  header .header__elem,
  section .section__elem,
  footer .footer__elem {
    max-width: 100%;
  }

  header .header__elem::before,
  header .header__elem::after,
  section .section__elem::before,
  section .section__elem::after,
  footer .footer__elem::before,
  footer .footer__elem::after {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .the-band__elem,
  .player,
  .player-info {
    flex-wrap: wrap;
  }

  .the-band__elem .picture,
  .the-band__elem .data,
  .player .player__elem,
  .player-info .discografia,
  .player-info .ultimo-disco {
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 700px) {
  #menu {
    display: block;
    width: auto;
    color: $primary-font;
  }

  .nav > a {
    width: 25%;
  }

  .nav nav {
    width: 200px;
    text-align: right;
    position: fixed;
    height: 100%;
    background-color: $brown-bg;
    z-index: 1;
    left: -200px;
    top: 4rem;
    @include addBasicTransition();

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 1rem 0;

      li {
        width: 100%;
        text-align: left;
      }
    }
  }

  .visible .nav nav {
    left: 0px;
  }

  section .section__elem,
  footer .footer__elem{
    padding: 1rem 1rem 0 1rem;
  }

  .footer__elem.contact{
    padding-bottom: 10rem;
  }

  .footer__elem.contact .contact__elem p {
    font-size: 1.5rem;
  }
}